{% extends "templates/base.html" %}

{% block body %}
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Jiacheng's Diary</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Archive<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						{% for month in months %}
						<li><a href="/?show_month={{month.strftime('%Y-%m')}}">{{month.strftime('%B %Y')}}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% if user.is_admin %}
				<li><a href="/writer">New</a></li>
				{% endif %}
			</ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{user.log_url}}">{{'Logout' if user.nickname else 'Login'}}</a></li>
			</ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="posts" id="posts">
    {% include 'templates/posts_data.html' %}
  </div>
</div>
{% endblock %}


{% block scripts %}
<style>
.post {
  font-size: 14px;
}
.post-header {
  font-size: 13px;
}
.post-title {
  font-size: 16px;
}
.post-date, .post-author { 
  color: #808080;
}
</style>
{% endblock %}



{% block post_scripts %}

<link rel="stylesheet" href="/css/vendor/emojify.min.css" />
<script src="/js/vendor/emojify.min.js"></script>
<script src="/js/vendor/jquery.jscroll.min.js"></script>
<script src="/js/vendor/markdown.min.js"></script>
<script>
$('.post-content').replaceWith(function() {
  return markdown.toHTML($(this).text());
});

emojify.setConfig({img_dir: '/img/vendor/emoji/basic'});
emojify.run(document.getElementById('posts'));

$('.posts').jscroll({
  nextSelector: 'a.jscroll-next:last',
  callback: function() {
    $('.jscroll-added:last .post-content').replaceWith(function() {
      return markdown.toHTML($(this).text());
    });

    emojify.run($('.jscroll-added:last')[0]);
  },
});

</script>

{% include 'templates/mathjax.html' %}

{% endblock %}

