{% for post in posts %}
  <div class="post">
    <div class="post-header">
      {% if post.title %}
      <span class='post-title'><strong>{{post.title|titlecase}}</strong></span><br/>
      {% endif %}
      <span class='post-date'>{{post.created_on.strftime('%d %b. %Y %H:%M')}}</span>
      <!--span class='post-author'><strong>{{post.author}}</strong></span-->
      {% if user.nickname == post.author %}
      <span><a href='/writer?post_key={{post.key.urlsafe()}}'>Edit</a></span>
      {% endif %}
    </div>
    <div class="post-content">{{post.content}}</div>
  </div>
  <hr/>
{% endfor %}
{% if posts and not loaded %}
<a class='jscroll-next' href="/posts?start={{posts[-1].created_on.isoformat('T')}}">next</a>
{% endif %}
