{% extends "templates/base.html" %}

{% block body %}
<div class="container-fluid">
  <div id="alertHead" class="alert"></div>

  <h1 class="form-group form-inline">
    <input type="text" id="txtTitle" class="form-control" placeholder="New Post Title" value="{{post_title}}">
    <input type="hidden" id="txtKey" value="{{post_key}}">
    <button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button>
    <a class="btn" href='{{logout_url}}'>Log out</a>
    <a class="btn" href='/'>Back</a>
  </h1>
  <h2 class="form-group form-inline">
    <form id="uploader-form" action="/attach/upload" method="post" class="form-group form-inline" enctype="multipart/form-data">
      <input type="file" name="file_upload" class="form-control" >
      <input type="submit" value="submit" class="form-control">
    </form>
    <div class="input-group">
      <span class="input-group-btn">
        <button id="upload-file-clip" class="btn btn-default" data-clipboard-target="#upload-file-info">
          <span class="glyphicon glyphicon-copy" ></span>
        </button>
        <input id="upload-file-info" class="form-control" value="">
      </span>
    </div>
  </h2>
  <div style="height: 70%">
    <textarea>{{post_content}}</textarea>
  </div>
</div>
{% endblock %}


{% block scripts %}

{% endblock %}

{% block post_scripts %}
<link rel="stylesheet" href="/css/vendor/simplemde.min.css">
<script src="/js/vendor/simplemde.min.js"></script>
<script>
$('#alertHead').hide();

var simplemde = new SimpleMDE({
  autosave: {
    enabled: false,
    uniqueId: "post_autosave",
  },
  indentWithTabs: false,
  lineWrapping: false,
});

$('#btnSubmit').on('click', function () {
  $('#alertHead').hide();
  var post_content = simplemde.value();
  var post_title = $('#txtTitle').val();
  var post_key = $('#txtKey').val();

  var payload = {
    title: post_title,
    content: post_content,
  };

  if (post_key) payload.key = post_key;

  $.post('/writer/update', payload, function(data) {
    if (data.status === "ok") {
      $('#alertHead').addClass('alert-success');
      $('#alertHead').text('Success');
      $('#txtKey').val(data.post_key);
    } else {
      $('#alertHead').addClass('alert-danger');
      $('#alertHead').text(data.status);
    }
    $('#alertHead').toggle(100);
  });

});

</script>

<script src="/js/vendor/clipboard.min.js"></script>
<script>
new Clipboard('#upload-file-clip');
</script>

<script src="/js/vendor/jquery.form.js"></script>
<script>
$('#uploader-form').ajaxForm({
  uploadProgress: function(event, position, total, percentComplete) {
    var percentVal = percentComplete + "%";
    $('#upload-file-info').val(percentVal);
  },
  dataType: 'json',
  success: function(resp) {
    $('#upload-file-info').val(resp['file_name']);
  }
});
</script>

{% endblock %}

